/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  --section-padding: 180px 64px;
  text-align: center;
}

.hero-title .span {
  display: inline;
  background-image: var(--linear-gradient-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .section-text {
  color: var(--white);
  opacity: 0.7;
  margin-block: 16px 32px;
}

.hero .btn {
  margin-inline: auto;
}
