.discover-card {
  padding: 8px;
  border: 1px solid var(--gunmetal);
  box-shadow: var(--shadow-5);
  transition: var(--transition-1);
}

.discover-card:is(:hover, :focus-within) {
  box-shadow: var(--shadow-3);
  transform: translateY(-8px);
}

.discover-card .card-banner {
  position: relative;
}

.discover-card:is(:hover, :focus-within) .img-cover {
  transform: scale(1.1);
}

.discover-card .btn {
  padding: 8px 16px;
  font-size: var(--label-md);
  position: absolute;
  top: calc(100% + 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-2);
}

.discover-card:is(:hover, :focus) .btn {
  top: 50%;
}

.discover-card .card-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-start: 12px;
}

.discover-card .card-profile .img {
  border-radius: var(--radius-circle);
}

.discover-card .card-title {
  margin-block: 12px;
}

.discover-card .card-meta {
  background-color: var(--prussian-blue);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: var(--radius-8);
}

.discover-card .card-price {
  color: var(--white);
  display: flex;
  gap: 4px;
  font-weight: var(--fw-500);
}

.discover-card .countdown {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  background-image: var(--linear-gradient-2);
  color: var(--white);
  font-weight: var(--fw-700);
  padding: 4px 16px;
  border-radius: var(--radius-pill);
  display: flex;
  align-items: center;
  gap: 4px;
}

.discover-card .countdown ion-icon {
  --ionicon-stroke-width: 50px;
  font-size: 2.2rem;
}

.discover .btn-link {
  margin-inline: auto;
  margin-block-start: 32px;
}

@media (min-width: 768px) {
  .grid-list {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .discover .btn-link {
    margin-block-start: 60px;
  }
}

@media (min-width: 992px) {
  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .discover .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
