:root {
  --prussian-blue: hsla(217, 33%, 17%, 1);
  --oxford-blue-2: hsla(222, 47%, 11%, 1);
  --oxford-blue: hsla(221, 33%, 15%, 1);
  --blue-violet: hsla(262, 83%, 58%, 1);
  --blue-violet_a5: hsla(262, 83%, 58%, 0.05);
  --blue-violet_a10: hsla(262, 83%, 58%, 0.1);
  --alice-blue: hsla(214, 32%, 91%, 1);
  --alice-blue-2: hsla(215, 30%, 92%, 1);
  --cultured: hsla(220, 14%, 96%, 1);
  --gainsboro: hsla(220, 13%, 91%, 1);
  --light-gray: hsla(216, 12%, 84%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white_a10: hsla(0, 0%, 100%, 0.1);
  --manatee: hsla(218, 11%, 65%, 1);
  --green-cyan: hsla(161, 94%, 30%, 1);
  --cadet-grey: hsla(215, 20%, 65%, 1);
  --electric-indigo: hsla(263, 70%, 50%, 1);
  --maximum-red: hsla(0, 72%, 51%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gunmetal: hsla(215, 28%, 17%, 1);

  --linear-gradient-1: linear-gradient(
    to top left,
    hsla(0, 72%, 51%, 0.4) 0%,
    hsla(262, 83%, 58%, 0.4)
  );
  --linear-gradient-2: linear-gradient(
    to right,
    hsla(262, 83%, 58%, 1),
    hsla(0, 72%, 51%, 1)
  );

  --ff-urbanist: 'Urbanist', sans-serif;

  --headline-lg: 3.6rem;
  --headline-md: 2.6rem;
  --title-lg: 2rem;
  --title-md: 1.8rem;
  --title-sm: 1.7rem;
  --body-lg: 2rem;
  --body-md: 1.7rem;
  --label-lg: 1.5rem;
  --label-md: 1.4rem;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  --section-padding: 32px;

  --shadow-1: 0 0 3px hsl(215, 28%, 17%);
  --shadow-2: 0 5px 13px hsl(215, 28%, 17%);
  --shadow-3: 0 5px 13px hsl(217, 19%, 27%);
  --shadow-4: 0 0 3px hsl(217, 19%, 27%);
  --shadow-5: 0 5px 13px hsla(214, 19%, 29%, 0.2);

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-12: 12px;
  --radius-8: 8px;
  --radius-6: 6px;

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  font-family: var(--ff-urbanist);
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--oxford-blue-2);
  color: var(--cadet-grey);
  font-size: 1.6rem;
  line-height: 1.5;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 12px;
}

.body-bg-shape {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-image: var(--linear-gradient-1);
  border-radius: var(--radius-circle);
  filter: blur(200px);
  z-index: -1;
}

.headline-lg {
  color: var(--white);
  font-size: var(--headline-lg);
  font-weight: var(--fw-700);
}

.headline-md {
  font-size: var(--headline-md);
}

.headline-lg,
.headline-md {
  line-height: 1.35;
}

.title-lg {
  font-size: var(--title-lg);
}

.title-md {
  font-size: var(--title-md);
}

.title-sm {
  font-size: var(--title-sm);
}

.body-lg {
  font-size: var(--body-lg);
}

.body-md {
  font-size: var(--body-md);
}

.label-lg {
  font-size: var(--label-lg);
}

.label-md {
  font-size: var(--label-md);
}

.headline-md,
.title-lg,
.title-md,
.title-sm {
  color: var(--white);
  font-weight: var(--fw-600);
}

.btn-icon {
  width: 39px;
  height: 39px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 1px solid var(--blue-violet);
}

.btn-icon.primary {
  background-color: var(--blue-violet);
  transition: var(--transition-1);
}

.btn-icon.primary:is(:hover, :focus-visible) {
  background-color: var(--electric-indigo);
  border-color: var(--electric-indigo);
}

.link\:hover:is(:hover, :focus-visible) {
  color: var(--blue-violet);
}

.section {
  padding-block: var(--section-padding);
}

.btn {
  background-color: var(--blue-violet);
  color: var(--white);
  max-width: max-content;
  font-size: var(--body-md);
  font-weight: var(--fw-600);
  padding: 8px 20px;
  border-radius: var(--radius-pill);
  display: flex;
  align-items: center;
  gap: 4px;
  transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) {
  background-color: var(--electric-indigo);
}

.text-center {
  text-align: center;
}

.section-title {
  margin-block-end: 44px;
}

.card {
  background-color: var(--oxford-blue-2);
  border-radius: var(--radius-8);
}

.card-banner {
  border-radius: var(--radius-8);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--oxford-blue);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-2);
}

.btn-link {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  color: var(--white);
  font-weight: var(--fw-600);
  letter-spacing: 0.5px;
}

.grid-list {
  display: grid;
  gap: 32px;
}

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 480px;
    width: 100%;
    margin-inline: auto;
  }

  /**
   * HEADER
   */

  .header .container {
    max-width: unset;
  }

  /**
   * NEWSLETTER
   */

  .newsletter .input-wrapper {
    position: relative;
  }

  .newsletter .input-field {
    margin-block-end: 0;
    padding-inline-end: 140px;
  }

  .newsletter .btn {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --headline-md: 3rem;

    /**
     * spacing
     */

    --section-padding: 48px;
  }

  /**
   * REUSED STYLE
   */

  .container,
  .header .container {
    max-width: 768px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .section-text {
    max-width: 575px;
    margin-inline: auto;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --headline-lg: 6rem;
  }

  /**
   * REUSED STYLE
   */

  .container,
  .header .container {
    max-width: 950px;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  :root {
    /**
     * spacing
     */

    --section-padding: 56px;
  }

  /**
   * REUSED STYLE
   */

  .container,
  .header .container {
    max-width: 1120px;
  }
}
